.logo  img{
   
    height: 100px;
    margin-left: 25px;
    
}

.navbar{
    padding: 50px 0px;
    background: linear-gradient(#E93E48, #C12B38);
    border-bottom: 4px solid black;
}


.header{
    font-size: 2rem;
    text-shadow: 2px 2px black;
    color:white;
    width: 55%;
}
