.logo{
    width: 70px;
    height: 70px;
    margin-left: 25px;
    
}

.navbar{
    padding: 50px 0px;
    background: linear-gradient(#E93E48, #C12B38);
}


nav p{
    margin: 0 auto;
    font-size: 2rem;
    text-shadow: 2px 2px black;
    color:white;
  
}
