ul{
    color:white;
    font-weight: bold;
    background-color: rgba(0,0,0, 0.5);
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border:1px solid white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}



img{
   
    height:50px;
}

.flight:hover{
    background-color: white;
    color:black;

   
  
}

a:hover{
    text-decoration: none;
}


