ul{
    color:white;
    font-weight: bold;
    background-color: rgba(0,0,0, 0.5);
    margin-top: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border:1px solid white;
    display: flex;
    align-items: center;
  
}



img{
   
    height:50px;
}

ul:hover{
    background-color: white;
    color:black;

   
  
}

a:hover{
    text-decoration: none;
}

#white{
    color:white
}

#red{
    color:red;
}